<html>
    <head>
        <title>User Form</title>
    </head>
    <body>
        <h1>Create Employee/Manager</h1>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <label>Username: </label>
                <input type='text' name='username' placeholder='Enter username'><br><br>
                <label>Password: </label>
                <input type='password' name='password' placeholder='Enter password'></br></br>
                <label>Image: </label>
                <input type='file' name='img' placeholder='Upload image' accept='image/*' ></br></br>
                <label>Leave days: </label>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br><br>
                <label>Gender: </label>
                <input type='radio' id='male' name='male' value='Male'>
                <label for='male'>Male</label>
                <input type='radio' id='female' name='female' value='Female'>
                <label for='female'>Female</label><br><br>
                <label>Manager Name: </label>  
                <input type='text' name='manager_name'>
                <br><br>
                
                <!--<label for="{{ form.username.id_for_label }}">{{form.username.label_tag}}</label>{{form.username}}<span>{{form.username.error}}</span><br><br>
                <label for="{{ form.password.id_for_label }}">{{form.password.label_tag}}</label>{{form.password}}<span>{{form.password.error}}</span><br><br>
                <label for="{{ form.img.id_for_label }}">{{form.img.label_tag}}</label>{{form.img}}<span>{{form.img.error}}</span><br><br>
                <label for="{{ form.leave_days.id_for_label }}">{{form.leave_days.label_tag}}</label>{{form.leave_days}}<span>{{form.leave_days.error}}</span><br><br>
                <label for="{{ form.gender.id_for_label }}">{{form.gender.label_tag}}</label>{{form.gender}}<span>{{form.gender.error}}</span><br><br>
                <label for="{{ form.is_employee.id_for_label }}">{{form.is_employee.label_tag}}</label>{{form.is_employee}}<span>{{form.is_employee.error}}</span><br><br>
                <label for="{{ form.manager_name.id_for_label }}">{{form.manager_name.label_tag}}</label>{{form.manager_name}}<span>{{form.manager_name.error}}</span><br><br>
                <label for="{{ form.designation.id_for_label }}">{{form.designation.label_tag}}</label>{{form.designation}}<span>{{form.designation.error}}</span><br><br>
                -->
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>