<html>
    <head>
        <title>Leave Request Form</title>
        <link rel='stylesheet' href='../static/style.css'>
        <link rel='stylesheet' href='../static/requiredstyle.css'>
        <link rel='stylesheet' href='../boot/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class='topnav'>
                <a href='/apply'>Apply Leave</a>
                <a href='/leavehistory'>Leave History</a>
                <a href='/leavedetails'>Requested Leave</a>
                <span class="navbar-nav ml-auto">
                    <a href='/splogout' class="navbar-nav ml-auto">Logout</a>
                </span>
        </nav>
        <p> You are logged in as {{current_user.username}}! </p>
        <div class="div">
            <form action='' method='POST' class="form-group">
                <fieldset>
                    <legend>Apply Leave</legend>
                    {% csrf_token %}
                    <label class="col-sm-2 col-form-label">Employee Name:</label> <input type='text' value={{current_user.username}} readonly><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.leave_reason.id_for_label }}" >{{form.leave_reason.label_tag}}<span class='required'></span></label>{{form.leave_reason}}<span class='hidden'>{{form.leave_reason.errors}}</span><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.leave_type.id_for_label }}">{{form.leave_type.label_tag}}<span class='required'></span></label>{{form.leave_type}}<span class='hidden'>{{form.leave_type.errors}}</span><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.from_date.id_for_label }}">{{form.from_date.label_tag}}<span class='required'></span></label>{{form.from_date}}<span class='hidden'>{{form.from_date.errors}}</span><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.to_date.id_for_label }}">{{form.to_date.label_tag}}<span class='required'></span></label>{{form.to_date}}<span class='hidden'>{{form.to_date.errors}}</span><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.no_of_days.id_for_label }}">{{form.no_of_days.label_tag}}<span class='required'></span></label>{{form.no_of_days}}<span class='hidden'>{{form.no_of_days.errors}}</span><br>
                    <label class="col-sm-2 col-form-label">Manager Name:</label> <input type='text' value={{manager_name}} readonly><br>                   
                    <input type='submit' value='Apply'>
                    <input type='reset' vaue='Reset'>
                </fieldset>
            </form>        
        </div>
        <footer class="">
            <div class="footer-copyright text-center py-3">&copy 2021 Copyright:    
                <a href="#">SK</a>    
            </div>    
        </footer>
    </body>
</html>