<html>
    <head>
        <title>User Form</title>
        <link rel='stylesheet' href='../static/style.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">        
    </head>
    <body>  
        <div class='create-user'>
            <h2 class='header'>Create User</h2> 
            <form action="" method="POST" class='user-form'>
                {% csrf_token %}
                <label class="col-sm-2 col-form-label" for="{{ form.name.id_for_label }}" >{{form.name.label_tag}}</label>{{form.name}}<span>{{form.name.error}}</span><br>
                <label class="col-sm-2 col-form-label" for="{{ form.age.id_for_label }}">{{form.age.label_tag}}</label>{{form.age}}<span>{{form.age.errors}}</span><br>
                <label class="col-sm-2 col-form-label" for="{{ form.address.id_for_label }}">{{form.address.label_tag}}</label>{{form.address}}<span>{{form.address.errors}}</span><br>
                <button type="submit" class='button'>Submit</button>
            </form>
        </div>
    </body>
</html>