body{ 
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%,rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%,rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%),linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%,rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%,rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%),linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%,rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%,rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%),linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%,rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%,rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%),linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%,rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%,rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%),linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%,rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%,rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%),linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%,rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%,rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%),linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%,rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%,rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%),linear-gradient(0deg, #2625e3,#0bbaef);
}
.div{
  border: 3px solid rgb(243, 245, 111);    
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px; 
  width: 35%;
  margin: auto;
}
.reset{
  border: 3px solid rgb(243, 245, 111);    
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px; 
  width: 85%;
  margin: auto;
  text-align: center;
}
.col-form-label:after{
  content:"*";
  color: red;
}
.topnav {
  overflow: hidden;
  background-color: rgb(49, 49, 49);
}  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: #161515;
}  
.topnav a:active {
  color: #04AA6D;
  color: white;
}
div.transbox {
  margin-left: 100px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  width: 40%;
}
div.transbox form {
  margin: 5%;  
}
h3 {
  color: rgb(241, 52, 52);  
}
.error {
  color: red;
}
.create-user{             
  border: 2px solid rgb(243, 245, 111);    
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px; 
  width: 35%;
  margin-left: 400px;
  margin-top: 10px;
}     
.color {
  color: rgb(58, 99, 233);
}
.leave-form{              
  border: 2px solid rgb(243, 245, 111); 
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px; 
  width: 35%;
  margin-left: 400px;
} 
.user-form {
  margin-left: 35px;
  width: 1000px;
}
.reset-form {
  margin-left: 25px;
  width: 1150px;
}
.topnav-right {
  float: right;
}
.header {
  margin-left: 90px;
  margin-bottom: 10px;
}
.button {
  margin-left: 150px;
}
.error {
  color: rgb(245, 68, 56);
}