<html>
    <head>
        <title>Password Reset Form</title>
        <link rel='stylesheet' href='../static/style.css'>                        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head> 
    <body>
        <center><h1>Leave Management System</h1><br></center>          
            <div  class='create-user'>              
                <form action="" method="POST" class='reset-form'>
                    <h2 class='header'>Reset Password</h2>
                    {% csrf_token %} 
                    <label class="col-sm-2 col-form-label" for="{{ form.username.id_for_label }}">{{form.username.label_tag}}</label>{{form.username}}<span class='error'>{{form.username.errors}}</span><br><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.new_password.id_for_label }}">{{form.new_password.label_tag}}</label>{{form.new_password}}<span class='error'>{{form.new_password.errors}}</span><br><br>
                    <label class="col-sm-2 col-form-label" for="{{ form.con_password.id_for_label }}">{{form.con_password.label_tag}}</label>{{form.con_password}}<span class='error'>{{form.con_password.errors}}</span><br><br>
                    <button type="submit" class='button'>Submit</button>
                </form> 
                <footer class="">
                    <div class="footer-copyright text-center py-3">&copy 2021 Copyright:    
                        <a href="#">SK</a>    
                    </div>    
                </footer>
            </div>   
    </body>
</html>