<html>
    <head>
        <title>Leave Details</title>
        <link rel='stylesheet' href='../static/style.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class='topnav'>
            <a href='/apply'>Apply Leave</a>
            <a href='/leavehistory'>Leave History</a>
            <a href='/leavedetails'>Leave Details</a>
            <span class="navbar-nav ml-auto">
                <a href='/splogout' class="navbar-nav ml-auto">Logout</a>
            </span>
        
        </nav>
        <p> You are logged in as {{current_user.username}}! </p>
        <center>
        <div>
        <table border='1' style='border-collapse:collapse; width:50%; text-align:center;'>
            <tr>
                <th>Employee Name</th>
                <th>Leave Reason</th>
                <th>Leave Type</th>
                <th>Status</th>
                <th>No of days</th>
                <th>Manager Name</th>
            </tr>
            {% for i in approve %}
            <tr>
                <td>{{i.emp_name}}</td>
                <td>{{i.leave_reason}}</td>
                <td>{{i.leave_type}}</td>
                <td>{{i.status}}</td>
                <td>{{i.no_of_days}}</td>
                <td>{{i.manager_name}}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
        </center>
    </body>
</html>