<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='../static/adminstyle.css'>
        <link rel='stylesheet' href='../boot/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="navbar">  
        <div class="dropdown">
            <button class="dropbtn">Create User
                <i class="fa fa-caret-down"></i>
            </button>
        <div class="dropdown-content">
            <a href='/employee'>Create Employee</a><br>
            <a href='/manager'>Create Manager</a>
        </div>    
        </div> <a href='/splogout' class="navbar-nav ml-auto">Logout</a>
    </div>
<center><br><br>         
  <h4><caption>List of users</caption></h4>        
  <table class='table table-hover' border='1' style='border-collapse:collapse; width:50%; text-align:center;'>
      <tr>
          <th>Username</th>
          <th>Leave Days</th>
          <th>Gender</th>
          <th>Manager Name</th>
          <th>Bio</th>
      </tr>
      {% for i in data %}
      <tr>
          <td>{{i.user_id}}</td>
          <td>{{i.leave_days}}</td>
          <td>{{i.gender}}</td>
          <td>{{i.manager_name}}</td>
          <td>{{i.bio}}</td>
      </tr>
      {%endfor%}
  </table><br> 
  <footer class="">
      <div class="footer-copyright text-center py-3">&copy 2021 Copyright:    
      <a href="#">SK</a>    
      </div>    
  </footer>
</center>
</body>
</html>