<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <form method='POST' action='show/'>
            {% csrf_token %}
            <label>Username: </label>
            <input type='text' name='username'><br><br>
            <label>Password: </label>
            <input type='password' name='password'><br><br>
            <input type='submit' value='submit'>

            <div>
                {% for message in messages %}
                <h4>{{message}}</h4>
                {% endfor %} 
            </div>
        </form>
    </body>
</html>